@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #0D0C22;
  --color-secondary: #6E6D7A;
  --color-hero-background: #F8F7F4;
  --card-speed: 6s;
  --card-gap: 32px;
}

body {
  font-family: var(--font-mona), sans-serif;
  color: var(--color-primary);
}